# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\UCSD\Courses\210_Principle_of_SoftwareEngineering\House_Rental_Project\Back_end\housenet-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
